<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<h4>List</h4>
<ul class="list-unstyled">
    <li class="text-primary" ng-repeat="product in app.products">
        {{ product.name }}
    </li>
</ul>

<h4>Table</h4>
<table class="table table-hover">
    <thead>
    <th> # </th>
    <th> Name </th>
    </thead>
    <tbody>
    <tr class="success" ng-repeat="product in app.products">
        <th scope="row"> {{$index + 1}} </th>
        <td> {{product.name}} </td>
    </tr>
    </tbody>
</table>

<form class="form-inline">
    <div class="form-group has-success has-feedback">
        <label for="productName">Product Name</label>
        <input type="text" class="form-control" id="productName" ng-model="app.newProduct" placeholder="Product">
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    </div>
    <button class="btn btn-default" ng-click="app.saveProduct(app.newProduct)">Save Product</button>
    <button class="btn btn-danger" ng-click="app.removeProduct(app.newProduct)">Remove Product <span class="badge">4</span></button>
    <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</form>

<p class="bg-warning"> {{app.newProduct}} </p>

<p> special text:  <mark>highlight</mark> <del>deleted</del> <abbr title="abbreviation"> abbr </abbr> </p>

<p> even more special: <code>sample code</code> <kbd>keyboard input</kbd></p>

<pre> block </pre>

<blockquote>
    <p>Everyone should use this product</p>
    <footer> From <cite title="Source Title">The author</cite></footer>
</blockquote>

<div>
    <button class="btn btn-default" ng-click="app.isCollapsed = !app.isCollapsed">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Toggle collapse
    </button>
    <hr>
    <div collapse="app.isCollapsed">
        <div class="well well-lg">Some content</div>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
    </ul>
</div>

<div ui-view></div>